body
{
   color: rgb(218, 16, 16);
   text-align: left;
   font-family: Arial, Helvetica, sans-serif; 
   
}

#container
{
width: 70%;
padding: 1cm;
text-align: left;
border: 1px solid rgb(100, 28, 2);
margin: 0 auto;

}
#container h1 
{
   font-size: 20px;
   
}

#cabecera
{
   background-color: blueviolet;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
   color: azure;
   font-weight: bold;
   font-size: large;
   margin: 20px;
   padding: 0.5cm;
}

#cabecera #tagline
{
font-size: small;
margin: 1cm 0 0 0;
font-weight: normal;

}

